body{background-color: lightgray;}
h1{color:orange; font-size:70px; text-decoration:underline;}
h2{color:green; font-size: 40px;}
.Waripolo{color: red; font-size:35px;}
#Chancho{color:violet; font-size: 90px;}
span{font-style:italic;}
h2 span {text-decoration: line-through}